@model List<GitHubRepoDto>
@{
    Layout = null;
    HashSet<string> shownLanguages = new HashSet<string>();
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderViewComponentPartial")

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarViewComponentPartial")

    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">Ben</h3>
                    <h1 class="display-3 mb-3">İbrahim Öztürk</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Flutter Developer, Front End Developer, Back End Developer</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="/Ibrahim_Ozturk_CV.pdf" class="btn btn-primary py-3 px-4 me-5" download>Özgeçmiş İndir</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block">Video Oynat</h5>
                    </div>
                    <br />
                    <br />
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href="https://github.com/iboOzturk" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://www.linkedin.com/in/ibrahim-%C3%B6zt%C3%BCrk-167384226/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/images/ibopp2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Yetenekler & Deneyim</h1>
                    <p class="mb-4">
                        Eğitim hayatımda edindiğim bilgi ve tecrübeler doğrultusunda bir takımda
                        yer alma ve birlikte üretebilmeyi öğrenme fırsatım oldu. Detayları önemser,
                        iş disiplini ve sorumluluklarımı ön planda tutarım
                    </p>
                    <h3 class="mb-4">Yeteneklerim</h3>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Flutter</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">C#</h6>
                                    <h6 class="font-weight-bold">80%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">ASP.Net Core</h6>
                                    <h6 class="font-weight-bold">70%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">SQL</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">EF Core, Dapper ORM</h6>
                                    <h6 class="font-weight-bold">75%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">ASP.Net Core Web API</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Deneyim</button>
                        </li>
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Eğitim</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>Flutter Geliştirici</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2021 - 2023</p>
                                    <h6 class="mb-0">All R Yazılım</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Yazılım Geliştirici Stajyeri</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2022 - 2022</p>
                                    <h6 class="mb-0">Coşkunöz Metal Form</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Uzun Dönem Stajyer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2023 - 2023</p>
                                    <h6 class="mb-0">Infera Teknoloji</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Flutter Geliştirici Stajyer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2023 - 2023</p>
                                    <h6 class="mb-0">CITS Bilişim Hizmetleri</h6>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>Bilgisayar Mühendisliği</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2019 - 2023</p>
                                    <h6 class="mb-0">Selçuk Üniversitesi</h6>
                                    <h7 class="mb-0">Teknoloji Fakültesi</h7>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Veritabanı Programcılığı</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2014 - 2018</p>
                                    <h6 class="mb-0">Tophane Mesleki ve Teknik Anadolu Lisesi</h6>
                                    <h7 class="mb-0">Bilişim Teknolojileri Alanı</h7>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->
    <!-- Projects Start -->
    <div class="container-xxl py-6 pt-5" id="project">
        <div class="container">
            <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Projeler</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                        <li class="mx-3 active" data-filter="*">Tüm Projeler</li>
                        @foreach (var item in Model)
                        {
                            string langs = item.Language;
                            if (langs != null)
                            {
                                string representedLangs = RepresentSpecialCharacters(langs);

                                if (!shownLanguages.Contains(representedLangs))
                                {
                                    <li class="mx-3" data-filter=".@representedLangs">@item.Language</li>
                                    shownLanguages.Add(representedLangs);
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
                @foreach (var item in Model)
                {
                    string langs = item.Language;
                    string representedLangs = langs != null ? RepresentSpecialCharacters(langs) : "";

                    <div class="col-lg-4 col-md-6 portfolio-item @representedLangs">
                        <div class="portfolio-img rounded overflow-hidden">
                            <img style="width:408px;height:408px;object-fit:contain" class="img-fluid" src="~/images/@(item.Name).png" alt="">
                            <div class="portfolio-btn">
                                <h6 style="color:gold" class="description-overlay">
                                    @((item.Description != null) ? item.Description : "Açıklama Yok")
                                </h6>
                                @if (!item.IsPrivate)
                                {
                                    <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="@item.Html_Url" target="_blank"><i class="fa fa-link"></i></a>

                                }
                                else
                                {
                                    <span style="color:gold">Gizli</span>
                                }

                                <p class="mb-0" style="color:gold">@item.Language</p>

                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h5>@item.Name</h5>
                            <h6>@item.Updated_At.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("tr-TR"))</h6>
                        </div>
                    </div>



                }


            </div>
        </div>
    </div>
    <!-- Projects End -->
    <!-- Contact Start -->

    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">İletişim Bilgileri</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="">Merhaba De</a>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-2">Adresim:</p>
                    <h3 class="fw-bold">Yıldırım/Bursa Türkiye</h3>
                    <hr class="w-100">
                    <p class="mb-2">Telefon Numaram:</p>
                    <h3 class="fw-bold">+90 505 971 28 16</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail Adresim:</p>
                    <h3 class="fw-bold">ozturk.ibo@outlook.com</h3>
                    <hr class="w-100">
                    <p class="mb-2">Sosyal Medya:</p>
                    <div class="d-flex pt-2">
                        @* <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a> *@
                        <a class="btn btn-square btn-primary me-2" href="https://www.facebook.com/abrahamredo7?locale=tr_TR" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://www.youtube.com/channel/UCcrxY3qtEIihIEJQ0KXBlMA" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://www.instagram.com/ibo.ozturk7/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Mesaj</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                            <a href="#" onclick="sendMessage()" class="btn btn-primary">Mesaj At</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact End -->
    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom text-secondary" href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("_ScriptsComponentPartial")

</body>

</html>

@functions
{
    string RepresentSpecialCharacters(string input)
    {
        if (input == null)
            return string.Empty;

        // Özel karakterleri temsil eden harflerle değiştirme
        input = input.Replace("+", "p")
                     .Replace("#", "s")
                     .Replace("-", "d")
                     .Replace("*", "a")
                     .Replace("/", "sl")
                     // Ek özel karakter dönüşümleri buraya ekleyebilirsiniz.
                     ;

        return input;
    }
}

<style>
    .portfolio-img {
        position: relative;
    }

    .description-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .portfolio-img:hover .description-overlay {
        opacity: 1;
    }
</style>

<script>
    function sendMessage() {
        // Kullanıcıdan alınan chatId ve message değerlerini al
        var chatId = "1489077336";
        var message = document.getElementById('message').value;
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var subject = document.getElementById('subject').value;

        // Eğer chatId veya message boşsa işlemi durdur
        if (!name || !email || !subject || !message) {
            alert('Lütfen tüm alanları doldurun.');
            return;
        }
        if (confirm("Mesajı göndermek istediğinize emin misiniz?")) {
            fetch('/Profile/SendMessage/?chatId=' + encodeURIComponent(chatId) + '&name=' + encodeURIComponent(name) +
                    '&email=' + encodeURIComponent(email) +
                '&subject=' + encodeURIComponent(subject) + '&message=' + encodeURIComponent(message), {
                method: 'GET' 
            })
            
        }
    }
</script>